<link rel="stylesheet" href="/stylesheets/showstyle.css">
<div class="container">
  <div class="alert alert-danger alert-dismissible fade show col-sm-10 mx-auto mt-4" role="alert">
    {{alert.msg}}
  </div>
  <a class="d-flex justify-content-center" href="/"><button class="btn btn-success btn-lg">back</button></a>
</div>